<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
<key>items</key>
<array>
<dict>
<key>assets</key>
<array>
<dict>
<key>kind</key>
<string>software-package</string>
<key>url</key>
<string>／／35.241.95.97:8888/download?filename=%2Fwww%2Fwwwroot%2Fhttp%2FAPPS%2FX.cat%2012.0.ipa </string>
</dict>
</array>
<key>metadata</key>
<dict>
<key>bundle-identifier</key>
<string>／／bundle id</string>
<key>bundle-version</key>
<string>／／12.0</string>
<key>kind</key>
<string>software</string>
<key>title</key>
<string>／／X.cat</string>
</dict>
</dict>
</array>
</dict>
</plist>